$white: white;
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    color: white;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/111.jpg) no-repeat;
    background-size: cover;
}

.all {
    width: 100%;
    min-height: 100vh;
}

header {
    background-color: #20201d70;
    padding: 37px;
    .navigation {
        display: flex;
        justify-content: space-around;
        a {
            color: $white;
            font-size: 36px;
        }
    }
}

.profile-info {
    display: flex;
    align-items: center;
    padding: 32px 80px;
    justify-content: space-between;
    .info {
        display: flex;
        gap: 30px;
        .photo {
            .circle {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 160px;
                background-color: none;
                border-radius: 100%;
                border: 1px solid $white;
            }
        }
        .text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            input {
                width: 100%;
                height: 100%;
                padding: 10px 5px;
                box-sizing: border-box;
                border: 1px solid #A7A7A7;
                border-radius: 10px;
                outline: none;
                background: transparent;
                position: relative;
                color: white;
                z-index: 11;
                font-size: 18px;
            }
            h2 {
                font-size: 26px;
                color: $white;
                font-weight: 700;
            }
            .line {
                height: 1px;
                width: 100%;
                background-color: $white;
            }
            .user-info {
                display: flex;
                gap: 60px;
                input {
                    width: 100%;
                    height: 100%;
                    padding: 10px 5px;
                    box-sizing: border-box;
                    border: 1px solid #A7A7A7;
                    border-radius: 10px;
                    outline: none;
                    background: transparent;
                    position: relative;
                    color: white;
                    z-index: 11;
                    font-size: 18px;
                }
                p {
                    font-size: 24px;
                    color: $white;
                }
                .name {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }
                .qualification {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }
            }
        }
    }
    a {
        color: $white;
        cursor: pointer;
        font-size: 24px;
        font-weight: 600;
        background: none;
        border: 1px solid $white;
        border-radius: 8px;
        padding: 16px 120px;
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: $white;
}

.orders-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: center;
    margin-top: 32px;
    h1 {
        font-size: 30px;
        font-weight: 600;
        color: $white;
    }
    .orders {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .order-row {
            display: flex;
            gap: 20px;
            .order {
                text-align: center;
                h2 {
                    border-radius: 10px 10px 0px 0px;
                    font-size: 24px;
                    font-weight: 600;
                    color: $white;
                    background-color: #20201da2;
                    padding: 6px 110px;
                }
                p {
                    padding: 55px 85px;
                    border-radius: 0px 0px 10px 10px;
                    font-size: 24px;
                    font-weight: 200;
                    color: $white;
                    background-color: #20201d79;
                }
            }
        }
    }
}

footer {
    background: #20201D;
    padding: 40px 80px;
    .name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-size: 48px;
            font-weight: 700;
        }
        .info {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            .contact {
                h1 {
                    font-size: 36px;
                    font-weight: 700;
                }
                .contacts {
                    p {
                        font-size: 32px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}